# Virtual Environment
.venv/
env/
venv/

# Python cache & build artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# macOS / IDE files
.DS_Store
.vscode/
.idea/

#creds
.env
__pycache__/

# personal, not for the repo
interview-profile/
